.background-image {
  height: 350px;
  background-image: url(../img/rawpixel-com-585630-unsplash-edited.jpg);
  background-size: cover;
  /* Photo by rawpixel.com on Unsplash */
}

.title {
  padding-top: 100px !important;
  color: whitesmoke;
}

h1, h3 {
  text-shadow: 3px 2px black !important;
}

h1 {
  font-size: 80px !important;
}

h3 {
  font-size: 35px !important;
}